body {
	margin: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
/*Main CSS*/
.main{
	background-image: url("../images/clock6.jpg");
	position: relative;
	/*background-repeat:no-repeat;*/
	padding-top: 360px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.main .time-zone-opts{
	padding: 5px !important;
}

.welcome{
	float: left;
	font-family: "Trebuchet MS";
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	margin-top: -380px;
	margin-left: 15px;
	padding-top: 10px;
	position: absolute;
}

.welcome a{
	text-decoration: none;
	color: #37535B;
}
/* Navigation */

#site-header .topnav {
  background-image: url("../images/navbarbg.jpg");
  overflow: hidden;
  padding: 15px;
}

/* Main Canvas */
.container{
	width: 400px;
	height: 400px;
	/*border: 1px solid red;*/
	border: none;
	padding-top:15px;
	text-align: center;
}

.container .clock{
	/*margin-top: -200px;
	margin-left: 690px;*/
	position:absolute;
    left:54%;
    top:5%;
    max-width: 10%;
}

#canvas{
	/*border: 1px solid blue;*/
	border: none;
	max-width: 100%;
    height: auto;
	/*background-color: #333;*/
}

/*Side Bar Widgets*/
.main .side-banners-1{
	position: absolute;
	top: 12%;
	margin: 15px;

}

.side-banners-1 h3{
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	padding-left: 95px;
	
}

/* Banner */
.banner{
	width:270px;
	height: 300px; 
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	float: left;
}

.banner0{
	background: #C6CC10 url("../images/banners/banner5.png") no-repeat;
	color: #37535B;
	font-family: "Trebuchet MS";
	margin-right: 5px;

}

.banner1{
	background: #31B3DA url("../images/banners/banner1.png") no-repeat;
	color:#37535B;
	font-family: "Arial Narrow";
}

.banner-text{
	font-size: 14px;
	padding-left: 5px;
	padding-top: 53px;
}

.time-zone-opts{
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    width: 240px;
    /*overflow: hidden;*/
}

.time-zone-opts select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 240px;
}

.time-zone-opts button{
	border-radius: 10px;
	font-size: 14px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-top: 30px;
	width: 110px;
	background: background-color:rgba(204,204,204,0.5);
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue{ 
	background-color: #ffffff; 
}

.banner-text1{
	padding-top: 50px;
	padding-left: 5px;
}


